version: "3.8"
services:
  pid_rl:
    build:
      context: .
    image: pid_rl:latest
    container_name: pid_rl_container
    runtime: nvidia
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,graphics
      - GZ_VERSION=harmonic
    privileged: true
    cap_add:
      - ALL
    security_opt:
      - seccomp:unconfined
      - apparmor:unconfined
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ./examples:/home/pid_rl/examples
      - ./rl_training:/home/pid_rl/rl_training
      - ./tests:/home/pid_rl/tests
      - ./clock_node:/home/pid_rl/clock_node
      - ./requirements.txt:/home/pid_rl/requirements.txt

      - ./copied/simple_world.sdf:/home/pid_rl/ardupilot_gazebo/worlds/simple_world.sdf
      - ./copied/simple_world_2.sdf:/home/pid_rl/ardupilot_gazebo/worlds/simple_world_2.sdf
      - ./copied/iris_with_ardupilot_2:/home/pid_rl/ardupilot_gazebo/models/iris_with_ardupilot_2
      - ./copied/GCS_MAVLink_Copter.cpp:/home/pid_rl/ardupilot/ArduCopter/GCS_MAVLink_Copter.cpp
      - ./copied/mode_guided.cpp:/home/pid_rl/ardupilot/ArduCopter/mode_guided.cpp
      - ./copied/lua_scripts:/home/pid_rl/ardupilot/scripts
    devices:
      - /dev/dri:/dev/dri
    network_mode: host
    stdin_open: true
    tty: true